.modal1 {
  width: 400px;
  height: 300px;
  background-color: black;
  color: white;
  text-align: justify;
  padding: 20px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
body {
  position: relative;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(to right, lightskyblue, rgb(16, 17, 16));
  background-repeat: no-repeat;
  height: 100vh;
}
h4 {
  font-size: 27px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
}

.overlay1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  filter: blur(3px);
  opacity: 40%;
  background-color: black;
  z-index: 5;
}
.button1 {
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid lightseagreen;
  cursor: pointer;
  background: black;
  color: white;
}
.close-modal {
  position: absolute;
  top: 20px;
  left: 395px;
  height: 20px;
  width: 20px;
  border: none;
  font-size: 15px;
}
.hidden {
  display: none;
}
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  transform: translate(-50%, -50%);
}
.modal1 p {
  font-size: 18px;
  margin: 20px;
}

.modal1 h3 {
  text-align: center;
  margin: 20px;
  padding-top: 30px;
  font-weight: bold;
}
